body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.Header {
  background-color: #222;
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Header a {
  color: white;
}

.Header-titleContainer {
  display: flex;
  align-items: center;
}

.Header-title {
  font-size: 2rem;
}

.Header-logo {
  height: 3.5rem;
  margin: -0.5rem 0;
  padding-right: 1rem;
}

.Main {
  padding: 1rem;
}

.Main > h1:first-child,
.Main > h2:first-child,
.Main > h3:first-child,
.Main > h4:first-child,
.Main > h5:first-child,
.Main > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.ForumItem-name {
  padding: 0.5rem;
}

.ForumItem-description {
  padding: 0.5rem;
}

.ForumItem-tools {
  background-color: #555;
  color: white;
  padding: 0.5rem;
}

.Forum-header, .ForumItem {
  margin-bottom: 15px;
  background-image: linear-gradient(-90deg, #32a3ff, #013f7b);
  color: white;
  padding: 12px;
}

.Forum-header {
  font-size: 2rem;
  line-height: 1.4em;
}

.Forum-header a, .ForumItem a {
  color: white;
}

.ForumItem-description {
  font-size: 1.2em;
}

.Forum-description {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #919191;
}

.Topics-container,
.Posts-container,
.slim-wrapper {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1110px;
}

.topic-item {
    display: table-row;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.topic-item td {
    padding: 20px 16px;
    min-width: 90px;
}

.topic-item__title {
    width: 100%;
    text-align: left;
}

.topic-item__link {
    font-size: 18px;
    color: #333;
}

.topic-item__profiles {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.topic-item__profile-container {
    width: 20px;
    height: 20px;
    transform: translateX(-25%) translateY(-6px);;
}

.topic-item__profile {
    max-width: 32px;
    border-radius: 50%;
    border: 1px solid white;
    vertical-align: middle;
}

.WelcomeMessage a {
  color: #0074ca;
}

.TopicItem-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: none;
  width: 500px;
}

.topic-items__header th {
  color: #999;
  font-weight: normal;
  text-align: center;
  padding: 16px 16px 8px;
}

.topic-items__header th:first-child {
    text-align: left;
}

.topic-items__body {
  border-top: 1px solid #eee;
}

.TopicItem-user, .TopicItem-replies, TopicItem-date {
  width: 65px;
  padding-left: none;
  text-align: left;
}

.Topic-header {
  color: #222222;
  font-size: 1.7em;
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: 1.4em;
  padding: 12px;
}

.Posts-container {

}

.PostItem {
  border-top: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  padding: 1em 0;
}

.PostItem-meta {
  min-width: 200px;
}

.PostItem-user {
  font-weight: bold;
}

.PostItem-user--with-avatar {
    display: flex;
    flex-direction: column;
}

.PostItem-avatar {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: .5em;
}

.PostItem-date {
  color: #919191;
  font-size: 0.8em;
}

.PostItem-body {

}

.PostItem-topic {
  border: none;
}
