body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.Header {
  background-color: #222;
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Header a {
  color: white;
}

.Header-titleContainer {
  display: flex;
  align-items: center;
}

.Header-title {
  font-size: 2rem;
}

.Header-logo {
  height: 3.5rem;
  margin: -0.5rem 0;
  padding-right: 1rem;
}

.Main {
  padding: 1rem;
}

.Main > h1:first-child,
.Main > h2:first-child,
.Main > h3:first-child,
.Main > h4:first-child,
.Main > h5:first-child,
.Main > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.ForumItem-name {
  padding: 0.5rem;
}

.ForumItem-description {
  padding: 0.5rem;
}

.ForumItem-tools {
  background-color: #555;
  color: white;
  padding: 0.5rem;
}

.Forum-header, .ForumItem {
  margin-bottom: 15px;
  background-image: linear-gradient(-90deg, #32a3ff, #013f7b);
  color: white;
  padding: 12px;
}

.Forum-header {
  font-size: 2rem;
  line-height: 1.4em;
}

.Forum-header a, .ForumItem a {
  color: white;
}

.ForumItem-description {
  font-size: 1.2em;
}

.Forum-description {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #919191;
}

.Topics-container, .Posts-container {
  border-collapse: collapse;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.TopicItem {
  border-bottom: 1px solid #e9e9e9;
  display: table-row;
}

.TopicItem a, .WelcomeMessage a {
  color: #0074ca;
}

.TopicItem-title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: none;
  width: 500px;
}

.Topics-TopicItemHeader th {
  color: #919191;
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: none;
  text-align: left;
}

.Topics-container tbody {
  border-top: 3px solid #e9e9e9;
}

.TopicItem-user, .TopicItem-replies, TopicItem-date {
  width: 65px;
  padding-left: none;
  text-align: left;
}

.Topic-header {
  color: #222222;
  font-size: 1.7em;
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: 1.4em;
  padding: 12px;
}

.Posts-container {

}

.PostItem, .PostItem-topic {
  border-top: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

.PostItem {
    padding: 1em 0;
}

.PostItem-meta {
  min-width: 200px;
}

.PostItem-user {
  font-weight: bold;
}

.PostItem-date {
  color: #919191;
  font-size: 0.8em;
}

.PostItem-body {

}

.PostItem-topic {
  border: none;
}
